/* Imported Typeface Files */

@font-face {
    font-family:Lato;
    src: url(../fonts/lato-regular.ttf);
    font-style:normal;
    font-weight:normal;
}
@font-face {

    font-family:Alfa Slab One;
    src: url(../fonts/alfa-slab-one-regular.ttf);
    font-style:normal;
    font-weight:normal;
}


/* Root */

html {
    font-size:16px;
}


/* Body & Main  */

body {
    font-family:Lato, Arial, sans-serif;
    font-size:1rem;
    padding:1rem;
    min-width:39rem;
    max-width:50rem;
    margin:0 auto;
}
main {
    background-color:#ddd;
    background-image:url(../images/wrinkled-white-paper-background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    border:1px solid #333;
}

/* Headings */
h1 {
    text-transform: uppercase;
    font-size: 6rem;
    margin: 0;
    letter-spacing: 0.5rem;
    color: darkred;
    text-shadow: 0.09375rem 0.09375rem 0.09375rem #000;
    font-family: 'Alfa Slab One', Garamond, serif;
    text-align: center;
}

h2 {
    /* Complete the style for heading level 2 */
    font-size: 48px;
    letter-spacing: 4px;
    margin: 0;
    color: darkred;
    font-weight: normal;
    text-align: center;
    text-shadow: 0.09375rem 0.09375rem 0.09375rem #000;
    font-family: 'Alfa Slab One', Garamond, serif;
}

h3 {
    /* Complete the style for heading level 3 */
    font-size: 32px;
    font-weight: normal;
    margin: 0;
    text-align: center;
    text-shadow: none;
    color: black;
    text-shadow: 0.09375rem 0.09375rem 0.09375rem #000;
    font-family: 'Alfa Slab One', Garamond, serif;
}

h4 {
    /* Complete the style for heading level 4 */
    font-size: 24px;
    text-align: center;
    margin: 0;
    color: darkred;
    letter-spacing: 4px;
    padding-bottom: 18px;
    font-weight: normal;
    text-shadow: 0.09375rem 0.09375rem 0.09375rem #000;
    font-family: 'Alfa Slab One', Garamond, serif;
}

h5 {
    /* Complete the style for heading level 5 */
    font-size: 16px;
    margin-top: 4px;
    padding: 8px;
    background-color: #333;
    color: #FFF;
    font-weight: normal;
    text-align: center;
}

/* Section & Paragraph */
section {
    margin-top: 8px;
}

p {
    margin: 16px auto;
    padding: 0 16px;
    width: 90%;
    text-align: left;
}

/* Image & Figure */
figure {
    margin-bottom: 32px;
}

figcaption {
    padding-top: 8px;
    text-align: right;
}

img {
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
}

/* Footer */
footer {
    padding: 16px;
    border-top: 32px solid #333;
}

/* Child selector for symbols in level 4 heading */
h4 > span {
    padding: 0 8px;
}